<div class="rounded-md border-2 shadow-lg" style="min-width: 400px;">
  <header class="flex bg-gray-100 rounded-t-md">
    <p class="text-xl font-bold text-green-500 p-4 bg-green-200 rounded-tl-md">Output</p>
  </header>
  <section class="flex flex-col gap-4 items-center py-6">
    <div class="border rounded-md w-4/5 py-4 bg-purple-100 flex flex-col items-center">
      <img src="{{ predictedService.value.drug == 'none' ? 'assets/nothing.svg':'assets/drug.svg' }}" class="h-44" alt="img-drugs">
      <h2 class="text-2xl font-bold text-green-500">Drug Type: {{ predictedService.value.drug == 'none' ? '?':predictedService.value.drug }}</h2>
    </div>
    <div class="border rounded w-3/5 font-semibold">
      <div class="bg-green-500 rounded py-1 px-2 flex gap-2 {{ 'w-['+predictedService.probabilityPercent()+'%]' }}">
        <span>Probability:</span>
        <span>{{ predictedService.value.probability | percent }}</span>
      </div>
    </div>
  </section>
</div>
