<main class="min-h-screen flex flex-col justify-center gap-4 bg-[#f1f1f1]">
  <h1 class="text-3xl font-bold text-center">{{ title }}</h1>
  <p class="mx-10 font-medium text-center sm:text-sm">{{ description }}</p>
  <div class="flex flex-row w-4/5 mx-auto items-center gap-8 justify-center sm:flex-col sm:mb-6">
    <app-input></app-input>
    <i class="fa-solid fa-arrow-right-long sm:hidden fa-4x"></i>
    <i class="fa-solid fa-arrow-down-long hidden sm:block fa-4x"></i>
    <app-output></app-output>
  </div>
</main>
